
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}
.section-1{
    display: none;
}
.section-2{
    width: 100%;
    height: 100%;

}
.success-area{
    width: 100%;
    height: 15%;
    background-color: #e4004f;
    position: relative;
}

.gun-area{
    width: 100%;
    height: 70%;
    background-color: #846a29;
    position: relative;
}
.begin-area{
    width: 100%;
    height: 15%;
    background-color: #00DDDD;
    position: relative;
}

.left-gun{
    width: 80px;
    position: relative;
    top: 20px;
    left: -20px;
    transform-origin: 0% 50%;
    /*-webkit-transform: rotate(90deg);*/
    /*-moz-transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/
    /*transform: rotate(90deg);*/
    position: absolute;
}

.left-gun img{
    width: 100%;
    display: block;
}

.left-gun-1{
    top: 20px;
}
.left-gun-2{
    top: 120px;
}
.left-gun-3{
    top: 220px;
}
.left-gun-4{
    top: 320px;
}

.right-gun{
    width: 80px;
    position: relative;

    right:-20px;
    transform-origin: 100% 50%;
    /*-webkit-transform: rotate(-90deg);*/
    /*-moz-transform: rotate(-90deg);*/
    /*-ms-transform: rotate(-90deg);*/
    /*-o-transform: rotate(-90deg);*/
    /*transform: rotate(-90deg);*/
    position: absolute;
}

.right-gun img{
    width: 100%;
    display: block;
}

.right-gun-1{
    top: 60px;
}
.right-gun-2{
    top: 160px;
}
.right-gun-3{
    top: 260px;
}
.right-gun-4{
    top: 360px;
}




.zidans-1,.zidans-2,.zidans-3,.zidans-4{
    position: absolute;
    right: 0px;
    top: 50%;
}

.zidans-5,.zidans-6,.zidans-7,.zidans-8{
    position: absolute;
    left: 0px;
    top: 50%;
}
.zidan{
    width: 20px;
    /*transform-origin: 0% 50%;*/
    /*-webkit-transform: rotate(90deg);*/
    /*-moz-transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/
    /*transform: rotate(90deg);*/
    position: absolute;
    left: 0;
    top: 0;
    transition: all linear 100ms;

}
.zidans-1 .zidan{
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.zidans-2 .zidan{
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.zidans-3 .zidan{
    -webkit-transition-delay:1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}
.zidans-4 .zidan{
    -webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    -ms-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
}

.zidans-5 .zidan{
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.zidans-6 .zidan{
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.zidans-7 .zidan{
    -webkit-transition-delay:1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}
.zidans-8 .zidan{
    -webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    -ms-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
}
.zidan img{
    width: 100%;
}
.count_time{
    color: #fff;
    font-size: 24px;
}
.lead_wu{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: 40px;
    background-color: #0a0b20;
}