
/*页头*/
/*logo*/
.h_searchDiv{width:1000px;margin:0 auto;height:26px; padding-top:9px; padding-bottom:10px;}
.h_theLogo{float:left;font-size:12px}
.h_theLogo img{float:left;}
.h_theLogo .ad00{width:120px; margin-left:30px; float:left;}
#h_f_logo{width:128px;height:25px;}
.h_find{ width:300px; float:right;}
/*搜索*/
.search{ height:26px;}
.search .lb{ width:78px; height:26px; margin-right:5px; position:relative; float:left;}
.search .lb ul{ width:78px;}
.search .lb ul li{ width:76px; height:24px; line-height:24px; border:1px solid #b2b2b2;}
.search .lb ul li a{ color:#666; display:block; width:66px; height:24px; line-height:24px; background:url(http://y2.ifengimg.com/e01ed39fc2da5d4a/2013/1023/s_bg01_1.gif) no-repeat right top; padding-left:10px;}/*默认背景*/
.search .lb ul li a:hover{ background:url(http://y2.ifengimg.com/e01ed39fc2da5d4a/2013/1023/s_bg01_2.gif) no-repeat right top; text-decoration:none;}
.search .lb ul li .a_cl{ background:url(http://y2.ifengimg.com/e01ed39fc2da5d4a/2013/1023/s_bg01_3.gif) no-repeat right top;}
.search .lb ul li ul{ width:51px; display:none; position:absolute; left:0; background:#fff; border:1px solid #b2b2b2; border-top:none;}
.search .lb ul li ul li{ width:51px; background:none; border:0; padding-left:0;}
.search .lb ul li ul li a{ width:42px; background:none; padding-left:9px;}
.search .lb ul li ul li a:hover{ background:#e7e7e7; background-image:none;}
.search .t_btn{ width:215px; height:24px; background:url(http://y2.ifengimg.com/e01ed39fc2da5d4a/2013/1023/s_bg02_1.gif) no-repeat right top; border:1px solid #b2b2b2; float:left;}
.search .t_btn_on{ background:url(http://y2.ifengimg.com/e01ed39fc2da5d4a/2013/1023/s_bg02_2.gif) no-repeat right top;}
.search .text_bg{ width:178px; height:24px; line-height:24px; overflow:hidden; float:left;}
.search .text_bg .text01{ color:#666; border:none; background:none; width:158px; padding:0 10px; height:24px; line-height:24px;}
.search .btn_bg{ width:37px; height:24px; float:left;}
.search .btn_bg .btn01{ border:none; background:none; width:37px; height:24px; cursor:pointer;}
/*导航*/
.bg01{ background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/nav_bg01.jpg) repeat-x left top #f6f6f6;}
.col_nav{ background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/nav_bg01.jpg) repeat-x left top; height:40px;}
.col_nav ul{ height:40px; overflow:hidden; background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/nav_bg03.jpg) left top no-repeat;}
.col_nav ul li{ font-size:14px; height:40px; line-height:40px; background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/nav_bg03.jpg) right top no-repeat; padding:0 20px; float:left;}
.col_w1000 .col_nav ul li a{ color:#fff;}
.col_w1000 .col_nav ul li a:hover{ color:#bcdceb; text-decoration:none;}
.col_nav ul .pa01{ padding:0 37px;}
.col_w1000 .col_nav ul .pa01 a{color:#990000;}
.col_subnav{ height:38px; overflow:hidden;}
.col_subnav ul{height:38px; margin-left:-16px; overflow:hidden;}
.col_subnav ul li{ font-size:12px; height:38px; line-height:38px; background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/nav_bg03.gif) left center no-repeat; padding:0 14px 0 16px; float:left;}
.col_w1000 .col_subnav ul li a{ color:#2b2b2b;}
.col_w1000 .col_subnav ul li a:hover{ color:#f54343; text-decoration:none;}
/*旅人*/
.content_box{position: relative;}
.title_03{ width:100%; background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/v_10.jpg) repeat-x left bottom; position:relative;}
.title_03 li{ height:49px; background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/v_05.jpg) repeat-x left top; float:left; line-height:48px; font-size:20px; font-family:Microsoft Yahei; color:#5c5c5c; font-weight:bold; text-align:center; cursor:pointer; margin-right:1px;}
.title_03 li.current{  background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/v_06.jpg) repeat-x left top; color:#3cbae3;}
.col_w1000 .title_03 li a{ display:block; padding:0px 34px; height:49px;color:#5c5c5c; _width:56px;}
.col_w1000 .title_03 li a:hover{ color:#5c5c5c; text-decoration:none;}
.title_04{ line-height:22px; height:22px;  background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/v_35.jpg) no-repeat left bottom; padding-bottom:12px; }
.col_w1000 .title_04 a{ font-size:20px;font-family:Microsoft Yahei; color:#1e2f43;font-weight:bold;}
.col_w1000 .title_04 a:hover{ color:#1e2f43; text-decoration:none;}
.lvlzs ul li{ line-height:30px; background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/v_02.jpg) no-repeat left center; padding-left:9px; height:30px;}
.col_w1000 .lvlzs ul li a{ font-size:12px; color:#2b2b2b;}
.col_w1000 .lvlzs ul li a:hover{ color:#f54343;}
.col_w1000 .lvlzs ul.all_none{ margin-right:0; border-right:none;}
.mb14{ margin-bottom:14px;}
.rangl{ width:680px; height: 546px; *margin-bottom:20px; display:none;}

.lvre{ width:1025px; display:none;}
.lvren_list{ width:320px; height:183px; position:relative; float:left; margin-right:20px; margin-bottom:20px;}
.lvren_list a img{ display:block;}
.lvren_list .bg04{ width:320px; height:183px; background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/v_37.png) no-repeat; position:absolute; left:0; bottom:0;_background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://y0.ifengimg.com/a/2015/1126/syj/lv/v_37.png', sizingMethod='crop')}
.lv_pic{ width:115px; height:115px; position:absolute; left:13px; top:60px;}
.lv_pic a img{ display:block;width: 105px;height:105px;-webkit-box-shadow: rgba(51, 51, 51,.75) 0 0 20px;-moz-box-shadow: rgba(51, 51, 51,.75) 0 0 20px;box-shadow: rgba(51, 51, 51,.75) 0 0 20px; border:3px solid #FFF;height:105px;width:105px;-moz-border-radius:8em;-webkit-border-radius:8em;border-radius:8em;}
.lv_word{ position:absolute; left:135px;  bottom:20px; width:130px;}
.lv_word h3{  line-height:20px; }
.col_w1000 .lv_word h3 a{font-size:18px; color:#FFF; font-family:Microsoft Yahei;font-weight:normal;}
.col_w1000 .lv_word h3 a:hover{ color:#FFF;}
.lv_map{ line-height:16px; height:16px; padding:6px 0px 9px; }
.lv_map a img{ display:inline-block; margin-right:5px;vertical-align:middle;}
.col_w1000 .lv_map a{ font-size:12px; color:#FFF;}
.col_w1000 .lv_map a:hover{ text-decoration:none;}
.lv_word p{ font-size:12px; color:#b0b2b1; line-height:16px;}

.box_scroll_01{ position:relative; width:1000px; margin:0 auto;}
.box_scroll_01 .swiper{width: 1020px;float: left;}
.l_btn_01{ width:8px; height:32px; position:absolute; left:-22px; top:53px; cursor:pointer; background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/v_22.jpg) no-repeat;}
.r_btn_01{ width:8px; height:32px; position:absolute; right:-22px; top:53px; cursor:pointer; background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/v_23.jpg) no-repeat;}
.l_btn_01_h{ background-position:0 bottom;}
.r_btn_01_h{ background-position:right bottom;}
.box_img_container_01{ width:1000px; margin:0 auto; position:relative; height:200px; overflow:hidden;}
.box_img_container_01 ul{ width:100000px; position:absolute; height:200px;}
.box_img_container_01 ul li{ float:left; width:255px; height:200px; text-align:left; background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/v_40.jpg) repeat-y;}
.a_gray_01 p{ line-height:24px; padding:10px 35px 10px 15px; }
.col_w .a_gray_01 p a{ font-size:14px; color:#1f2d47;}
.col_w .a_gray_01 p a:hover{ color:#f54343;}

.feet_all{ margin-bottom: 30px; background:url(http://y0.ifengimg.com/a/2015/1126/syj/lv/v_45.jpg) repeat-y left top; height:325px;}
.feet_left{ float:left; width:283px; margin-right:40px; padding-top:10px; overflow:hidden;}
.feet_mid{ float:left; margin-right:47px; width:250px; padding-top:25px; overflow:hidden;}
.feet_right{ float:left; width:380px; padding-top:25px; overflow:hidden;}
.feet_left img{ display:block; margin-bottom:18px;}
.feet_left p{ line-height:23px; font-size:12px; color:#8d8d8d;}
.feet_left h3{ font-size:18px; color:#1d2e42; font-family:Microsoft Yahei; line-height:20px; padding:20px 0px 12px;}
.feet_mid h3{ font-size:18px; color:#1d2e42; font-family:Microsoft Yahei; line-height:20px; padding:0px 0px 15px;}
.feet_right h3{ font-size:18px; color:#1d2e42; font-family:Microsoft Yahei; line-height:20px; padding:0px 0px 16px;}
.feet_mid ul{ width:255px; padding-top:5px;}
.feet_mid ul li{ float:left; width:79px; height:33px; border:1px solid #eaeaea; margin-right:3px; margin-bottom:3px; text-align:center; line-height:33px;}
.feet_mid ul li:hover{ border:1px solid #f54343;}
.col_w1000 .feet_mid ul li a{ font-size:12px; color:#8c8c8c;}
.col_w1000 .feet_mid ul li a:hover{ color:#8c8c8c; text-decoration:none;}
.ewm{ width:214px; margin:15px auto 0;}
.ewm img{ display:block;}
.ewm p{ line-height:32px; font-size:12px; color:#acacac;}
.txt{ line-height:23px;}
.txt a{ color:#8c8c8c; font-size:12px;}
.txt span{ color:#8c8c8c; padding:0 5px 0px 5px;}
.space15{ height:15px; overflow:hidden;}
.h_theLogo a{
    color: #666666;
}
.h_theLogo a:hover{
    color: #f54343;
}
.href_title {
    margin-left: 12px ;
    padding-top: 10px;
    float: left;
}

body{
    font-size: 16px;
}












@media screen and (max-width: 1920px) and (max-height: 1500px) {
    body {
        font-size: 16px;
    }
}
@media screen and (max-width: 1820px) and (max-height: 1400px) {
    body {
        font-size: 15px;
    }
}
@media screen and (max-width: 1720px) and (max-height: 1300px) {
    body {
        font-size: 14px;
    }
}
@media screen and (max-width: 1600px)and (max-height: 1200px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 1500px)and (max-height: 1100px) {
    body {
        font-size: 13px;
    }
}
@media screen and (max-width: 1400px)and (max-height: 1000px) {
    body {
        font-size: 12px;
    }
}
@media screen and (max-width: 1000px) {
    body {
        font-size: 0px;
    }
}
@media screen and  (max-height: 800px) {
    body {
        font-size: 0px;
    }
}

/*页头*/
/*头部logo*/
.top_logo{
    width: 1000px;
    height: 150px;
    margin: 0 auto;
}
.top_logo .logo{
    width: 371px;
    height: 100%;
    background: url(../images/top_logo.jpg) no-repeat;
    float: left;
    position: relative;
}
.top_logo .logo .num{
    display: inline-block;
    width: 71px;
    height: 16px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 32px;
    font-size: 16px;
    font-family: "Arial";
    font-style: italic;
    color: #ffffff;
    text-align: center;
}

.top_logo a .logo .num{

    color: #ffffff;
    text-decoration: none
}


/*广告和分享*/
.ad-logo{
    width: 127px;
    height: 150px;
    float: right;
}
.ad-img{
    width: 111px;
    height: 59px;
    padding: 20px 0 17px 17px;
}
.ad-img img{
    width: 100%;
}
.icon-logo{
    width: 100%;
    position: relative;
    height: 24px;
}
.comment-logo{
    width: 38px;
    float: left;
    height: 24px;
    border-right: 1px solid #cccccc;
    cursor: pointer;
}
.share-logo{
    width: 50px;
    float: left;
    height: 24px;
    border-right: 1px solid #cccccc;
    cursor: pointer;
}
.list-logo{
    float: left;
    width: 37px;
    height: 24px;
    cursor: pointer;
}
.share-icons{
    display: none;
    width: 117px;
    left: 50%;
    margin-left: -58px;
    background: url(../images/share-icon.jpg) no-repeat;
    position: absolute;
    top: 28px;
    z-index: 99;
}
.share-icons-container{
    width: 117px;
    height: 44px;
}
.share-icons span{
    margin-top: 10px;
    width: 28px ;
    height: 28px;
    padding: 8px 0;
    margin-left: 8px;
    float: left;
}

.wxImg{
    display: none;
    width: 100px;
    height: 100px;
}
.wxImg img{
    width: 100px;
    height: 100px;
}
/*广告和分享*/


/*头部logo*/




/*中控*/
.carousel-container{
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #000000;
    position: relative;
    overflow: hidden;
}

.carousel-container ul{
    width: 9999999px;
    position: relative;

}
.carousel-container ul li{
    border-right: 10px solid #000000;
    border-left: 10px solid #000000;
    float: left;
    position: relative;

}
.carousel-container ul li .img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.carousel-container ul li .img-container img{
    width: 100%;
    height: 100%;
}
/*封页贾玲介绍*/
/*.first_introduce{*/
    /*width: 50%;*/
    /*height: 50%;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 25%;*/
    /*background: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,1));*/
    /*overflow: hidden;*/
/*}*/
/*封页贾玲介绍*/
.content{
    position: absolute;
    bottom: 0;
    background-color: #000000;
    opacity: 0.8;
    width: 100%;
    height: 56px;
    line-height: 3em;
    overflow: hidden
}
.shrink{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    opacity: 0.8;
    height: 108px;
    line-height: 2.5em;
    overflow: hidden
}
.font-content{
    position: absolute;
    background: none;
    opacity: 1;
    bottom: 0;
    width: 100%;
    height: 56px;
    line-height: 2.5em;
    overflow: hidden
}

.show_font_content {
    position: absolute;
    background: none;
    opacity: 1;
    bottom: 0;
    width: 100%;
    height: 108px;
    line-height: 2.3em;;
    overflow: hidden;

}
.content .font{
     width: 92%;
     margin: 0 4%;
     font-size: 14px;
     line-height:26px;
     position: relative;
     height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #fff;
}

.shrink  .font{
    width: 92%;
    margin: 0 4%;
     font-size: 14px;
    line-height:26px;
    position: relative;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;

    color: #fff;
}
/*.font .triangle{*/
/*position: absolute;*/
/*bottom: 10px;*/
/*right: -16px;*/
/*width: 16px;*/
/*height: 8px;*/
/*background: url(../images/shrink.png) no-repeat;*/
/*cursor: pointer;*/
/*}*/
/*.current_index .font .triangle{*/
    /*position: absolute;*/
    /*bottom: 10px;*/
    /*right: -16px;*/
    /*width: 16px;*/
    /*height: 8px;*/
    /*background: url(../images/shrink.png) no-repeat;*/
    /*cursor: pointer;*/
/*}*/


.font .triangle{
    position: absolute;
    bottom: 10px;
    right: -16px;
    width: 16px;
    height: 8px;
    background: url(../images/show.png) no-repeat;
    cursor: pointer;
}
.show_font_content .font .triangle{
    position: absolute;
    bottom: 10px;
    right: -16px;
    width: 16px;
    height: 8px;
    background: url(../images/shrink.png) no-repeat ;
    cursor: pointer;

}
.num_img{
    position: absolute;
    width: 100%;
    bottom: -6.25%;
    height: 5.25%;

    padding-top: 1%;
    background-color: #000000;
    color: #999999;
    text-align: right;
    font-size: 0.6em;
}
.num_img span{
    font-size: 2em;
    color: #e54442;
}
.left_arrow_bt{

    position: absolute;
    top: 30px;
    left: 0;
    background-color: #000000;
    opacity: 0.3;
}
.left_arrow_bt img{
    width: 46px;
    height: 96px;
    position: absolute;
    top: 50%;
    margin-top: -48px;
    right: 30px;

}
.right_arrow_bt{
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #000000;
    opacity: 0.3;
}
.right_arrow_bt img{
    position: absolute;
    width: 46px;
    height: 96px;
    top: 50%;
    margin-top: -48px;
    left: 30px;
    overflow: hidden;
}
.button{
    background: none;
    opacity: 1;
    z-index: 10;
    cursor: pointer;
}


.first_introduce h2{
    margin-top: 1%;
    font-size: 2.7em;
    font-family: "Microsoft Yahei";
    font-weight: bold;
    color: #fff;
    margin-left: 12%;
}
.first_introduce h3{
    color: #faa44d;
    font-size: 1.8em;
    font-family: "Microsoft Yahei";
    font-weight: bold;
    margin-top: 0.5%;
    margin-bottom:1%;
    margin-left: 12%
}

.first_introduce p{
    color: #fff;
    font-size: 0.8em;
    font-family: "Microsoft Yahei";
    font-weight: bold;
    width: 63%;
    text-align: justify;

    margin-left: 12%
}

.first_introduce p.author{
    color: #fff;
    font-size: 0.6em;
    font-family: "Microsoft Yahei";
    font-weight: bold;
    margin-top:3%;
    width: 158px;
    text-align: justify;
    font-style: italic;

}

.font-introduce{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.content-introduce{
    position: absolute;
    width: 46%;
    left: 54%;
    top: 54%;
}
.content-introduce .introduce{
    width: 50%;
    float: left;
    margin-right: 4%;
}
.content-introduce .team{
    width: 43%;
    float: left;
}
.content-introduce .thanks{
    width: 80%;
    float: left;
    margin-right: 14%;
}

.content-introduce h3{
    color: #e54342;
    font-size: 1em;
    font-weight: bold;
    font-family: "Microsoft Yahei" ;
    margin-bottom: 4%;

}
.content-introduce p{
    color: #cccccc;
    font-size: 0.5em;
    font-weight: bold;
    font-family: "Microsoft Yahei" ;
    margin-bottom: 1%;

}
.content-introduce p span{

    margin-right: 4%;

}

.font-introduce .bottom-btn{
    width: 32%;
    position: absolute;
    left: 50%;
    margin-left: -16%;
    bottom: 4em;

}
.last_page_button{
    float: left;
    width: 43%;
    height: 2em;
    text-align: center;
    font-size: 1em;
    line-height: 2em;
    color: #e54342;
    border: 1px solid #e54342;
    cursor: pointer;
}
.button_refresh{
    margin-right: 6%;
}




/*视频*/
.play_remark{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.5;
}

.play_button{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
}
.carousel-container ul li .play_button img{
    width: 10%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5%;
    margin-top: -5%;
    cursor: pointer;
}

.vedios-container{
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
#playerDiv{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*视频*/
/*中控*/


/*.h_searchDiv,.top_logo ,.footer{*/
    /*display: none;*/
/*}*/