<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title   %></title>
</head>

<!--<script src="<%=htmlWebpackPlugin.files.chunks.page1.entry      %>"></script>-->
<body>

</body>

<!--<script src="<%=htmlWebpackPlugin.files.chunks.page2.entry      %>"></script>-->


<!--<%= htmlWebpackPlugin.options.date   %>-->



<!--<% for(var key in htmlWebpackPlugin.files){   %>-->
<!--<%= key%>:<%= JSON.stringify(htmlWebpackPlugin.files[key])%>-->
<!--<%  }  %>-->

<!--<% for(var key in htmlWebpackPlugin.options){   %>-->
<!--<%= key%>:<%= JSON.stringify(htmlWebpackPlugin.options[key])%>-->
<!--<%  }  %>-->

</html>